In [1]:
import pandas as pd

In [39]:
data = [{'id':1, 'date': '2022-01-01', 'text':'     abc'}, 
        {'id':2, 'date': '2022-01-01', 'text':'    USD'},
        {'id': 2, 'date': '2022-01-01', 'text':None},
       ]

In [40]:
df = pd.DataFrame(data)
df['text'].astype(str)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      3 non-null      int64
 1   date    3 non-null      object
 2   text    2 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

In [41]:
def upper_case(ser):
    try:
        new_series = ser.str.upper()
    except AttributeError as e:
        new_series = ser
    return new_series

df.apply(upper_case, axis=0)

   id        date      text
0   1  2022-01-01       ABC
1   2  2022-01-01       USD
2   2  2022-01-01      None

In [50]:
import re
def remove_leading_space(ser):
    regex_pat = re.compile(r'^\s*', flags=re.IGNORECASE)
    try:
        new_series = ser.str.replace(regex_pat, '', regex=True)
    except AttributeError as e:
        print(e)
        new_series = ser
    return new_series
df.apply(remove_leading_space, axis=0)

Can only use .str accessor with string values!

   id        date  text
0   1  2022-01-01   abc
1   2  2022-01-01   USD
2   2  2022-01-01  None

In [9]:

# Applying upper() method on 'College' column
df['text'].apply(lambda x: x.upper() if isinstance(x, str) else x).head(10)

0     ABC
1     USD
2    None
Name: text, dtype: object

In [11]:
s = pd.Series(['lower', 'CAPITALS', 'this is a sentence', None])
s

0                 lower
1              CAPITALS
2    this is a sentence
3                  None
dtype: object

In [28]:
for row in df.to_dict('Records'):
    print(row)

{'date': '2022-01-01', 'base': 'USD'}

In [19]:
df.to_dict()

{'date': {0: '2022-01-01'}, 'base': {0: 'USD'}}

In [34]:
def clean_row(row):
    
    print(row)
    row['c1'] = 'x'
    
    return row

df.apply(clean_row, axis=1)

date    2022-01-01
base           USD
Name: 0, dtype: object

         date base c1
0  2022-01-01  USD  x

In [37]:
del(data[0]['date'])

In [38]:
data

[{'base': 'USD'}]